[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "statim"]
	path = statim
	url = https://github.com/s7-stats/statim
[submodule "tabstats"]
	path = tabstats
	url = https://github.com/s7-stats/tabstats
